* {
    box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
    max-width: 70rem;
    margin: 0 auto;
    padding: 0.75rem;
}

.center {
    text-align: center;
}

ul {
    padding-left: 0;
}

a {
    text-decoration: none;
    color: #252525;
}

a.active {
    font-weight: bold;
}

.nav ul {
    display: flex;
}

.nav ul li {
    list-style: none;
    padding: 0.75rem
}

.tweet {
    display: flex;
    max-width: 40rem;
    margin: 1rem auto;
    padding: 1.5rem;
    border: 1px solid #eeeaea;
    border-radius: 3px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.tweet img {
    border-radius: 50%;
    height: 60px;
    margin: 0.7rem;
    margin-top: 0;
}

.tweet-info {
    margin-left: 0.3rem;
}

.tweet-info span {
    font-weight: bold;
}

.tweet-info .time {
    color: #969696;
    font-size: 0.95rem;
}

.reply {
    color: #969696;
    font-size: 0.75rem;
    margin-top: 0.2rem;
}

.tweet-info {
    font-size: 1.125rem;
}

.tweet-info p {
    word-break: break-word;
}

.tweet-icons {
    display: flex;
    align-items: center;
}

.tweet-icons .icon {
    font-size: 1.65rem;
    vertical-align: middle;
    color: #697784;
}

.tweet-icons .heart-button {
    background: transparent;
    border: none;
}

.tweet-icons .icon:hover {
    color: #00b5d6;
    cursor: pointer;
}

.tweet-icons span {
    margin: 0 0.75rem;
    margin-left: 0.5rem;
    color: #969696;
    font-weight: normal;
    font-size: 1.15rem;
}

.add-tweet {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 37.5rem;
}

.content {
    border-radius: 4px;
    border: 1px solid #dad7d7;
    padding: 0.65rem;
    font-size: 0.9rem;
    height: 6.25rem;
}

.btn {
    text-transform: uppercase;
    margin: 2rem auto;
    padding: 0.8rem;
    border-radius: 3px;
    background: transparent;
    border: 1px solid #969696;
    width: 15rem;
    font-size: 0.9rem;
    cursor: pointer;
}

.btn:disabled:hover {
    cursor: not-allowed;
}

.remaining-chars {
    text-align: right;
    margin-top: 1rem;
    color: rgb(218, 67, 67);
    font-weight: bold;
}

.tweet-info .hash-tag {
    color: rgb(29, 160, 242);
    font-weight: normal;
}
